{% extends "kegadmin/base.html" %}
{% load kegweblib %}
{% load crispy_forms_tags %}

{% block title %}Kegbot Admin: Add Beer Type | {{ block.super }}{% endblock %}
{% block pagetitle %}Kegbot Admin: Add Beer Type {% endblock %}

{% block kegadmin-main %}
<h2>Add Beer Type</h2>
<h3>Search for a beer</h3>
<!-- TODO: Replace with more Django like form //-->
<form class="form-search" method="post">
  {% csrf_token %}
  <input type="hidden" name="form_type" value="search">
  <input type="text" name="name" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>
{% if matched_length == 0 %}
<div class="alert alert-error">Could not find beer, please search again or add manually!</div>
{% else %}
<div class="row-fluid">
  <ul class="thumbnails">
    {% for beer in matched %}
    {% for brewery in beer.breweries %}
    <li class="span3">
      <div class="thumbnail">
        <img src="{{ beer.labels.large }}" width=300>

        <div class="caption">
          <h3>{{ beer.name }}</h3>
          <p>{{ brewery.name }}</p>

          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="auto">
            <input type="hidden" name="image_url" value="{{ beer.labels.large }}" />
            <input type="hidden" name="name" value="{{ beer.name }}" />
            <input type="hidden" name="description" value="{{ beer.description }}" />
            <input type="hidden" name="style" value="{{ beer.style.name }}" />

            <input type="hidden" name="brewery_name" value="{{ brewery.name }}" />
            <input type="hidden" name="brewery_description" value="{{ brewery.description }}" />
            <input type="hidden" name="brewery_website" value="{{ brewery.website }}" />
            <input type="hidden" name="brewery_city" value="{{ brewery.main_location.locality }}" />
            <input type="hidden" name="brewery_state" value="{{ brewery.main_location.region }}" />
            <input type="hidden" name="brewery_country" value="{{ brewery.main_location.country.isoThree }}" />

            <input type="hidden" name="vintage_year" value="" />
            <input type="hidden" name="abv_percent" value="{{ beer.abv }}" />
            <input type="hidden" name="original_gravity" value="" />
            <input type="hidden" name="specific_gravity" value="" />
            <input type="hidden" name="untappd_beer_id" value="" />

            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
<h3>Add Manually</h3>
{% if beer_type.picture %}
<div class="row-fluid">
  <div class="span10">
    <p><img src="{{beer_type.picture.resized.url}}"/></p>
  </div>
</div>
{% endif %}

{% crispy form %}

{% endblock %}
