{% extends "page-tworow.html" %}
{% load kegweblib %}

{# Suppress page title on homepage. #}
{% block header-margin %}{% endblock %}

{% block row-1 %}

<h3 class="muted">The Beer List</h3>
{% if taps %}
{% for tap in taps %}
{% include 'kegweb/includes/tap_snapshot.html' %}
{% endfor %}


{% else %}
<p class="muted">
  No taps are configured.
  {% if user.is_staff %}
  (Want to <a href="{% url "kegadmin-taps" %}">manage taps</a>?)
  {% endif %}
</p>

{% endif %}

{% endblock row-1 %}


{% block row-2 %}

<!-- Twitter Feed goes here-->

{% endblock row-2 %}